.accordion {
    border: 1px solid $border-color;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 965px;

    &.closed {
        .accordion__header {
            border-bottom: none;
        }

        .accordion__footer {
            display: none;
        }
    }
    
    &__footer,
    &__header {
        background-color: $light-grey;
    }

    &__footer {
        padding: 15px;
        text-align: center;
    }

    &__header, 
    &__item {        
        border-bottom: 1px solid $border-color;
    }

    &__header {
        align-items: center;
        display: grid;
        grid-template-columns: 1fr auto;
        padding: 15px 25px;

        &__new-items {
            align-self: center;
            background-color: $red;
            border-radius: 50%;
            color: white;
            display: inline-block;
            grid-column: 2 / 3;
            grid-row: 1;
            justify-self: start;
            margin: 0 0 0 1.5rem;
            padding: .25rem .75rem;
        }

        &__text {
            display: grid;
            grid-template-rows: auto auto;
            grid-template-columns: auto 1fr;
        }

        &__title {
            font-size: 2rem;
            font-weight: 400;
            grid-column: 1;
            grid-row: 1;
            margin: 0;
        }

        &__total {
            color: #777777;
            grid-column: 1;
            grid-row: 2;
            margin: 0;
        }
    }

    &__items {
        list-style: none;
        margin: 0;
        padding: 0;

        &__empty-message {
            text-align: center;
        }
    }
}

.add-content {
    background: lighten($blue, 55);
    padding: 15px;
    text-align: center;

    &__text {
        margin: 0;
    }
}

.app {
    padding: 1.5rem;
}

.article {
    border-left: 5px solid transparent;
    margin-right: 25px;
    padding-right: 25px;
    position: relative;

    &__btn {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    &__date,
    &__text {
        color: #777777;
        margin-bottom: 3px;
    }

    &__date {
        font-size: 1.4rem;
        margin: 0;
        position: relative;

        &__icon {
            top: 3px;
            padding-right: 2px;
            position: relative;
        }
    }

    &__link {
        align-items: center;
        display: grid;
        grid-template-columns: auto 1fr auto;
        padding: 15px 25px 15px 20px;
        text-decoration: none;
    }

    &--new {
        border-left: 5px solid $blue;
    }

    &__thumbnail {
        width: 10rem;

        &__img {
            border: 1px solid $border-color;
            border-radius: 50%;
            height: 7.5rem;
            margin-right: 2.5rem;
            width: 7.5rem;
        }

        @media screen and (max-width: 599px) {
            display: none;
        }
    }

    &__subtitle,
    &__text,
    &__title {
        font-size: 1.6rem;
        margin-top: 0;
    }

    &__subtitle,
    &__title {
        color: #333333;
        margin-bottom: 5px;
    }

    &__text {
        -webkit-box-orient: vertical;  
        box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        overflow: hidden;
    }

    &__subtitle {
        font-weight: 400;
    }
}